/* CSS for all Pages */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar div {
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

/* CSS for Home Page */

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 2rem;
}

.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.shopbtn {
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.brands {
  padding: 2rem 1rem;
}

.brand-cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

.brand-cards::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.brand-card {
  left: 5px;
  width: 520px;
  flex: 0 0 auto;
  cursor: pointer;
}

.brand-card img {
  width: 520px;
  height: 347px;
  object-fit: cover;
}

.categories {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem 1rem;
}

.category-card {
  margin-top: 1rem;
  cursor: pointer;
}

.category-card img {
  width: 368px;
  height: 611px;
  object-fit: cover;
}

.brand-card,
.category-card {
  position: relative;
  display: inline-block;
  text-align: center;
}

.brand-card p,
.category-card p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  z-index: 1;
}

footer {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.footerSubHeading {
  margin-bottom: 0.3rem;
}

#Instagram,
#Facebook {
  display: flex;
  align-items: center;
}

#instaIcon {
  margin-left: 0.3rem;
}

#facebookIcon {
  margin-left: 0.48rem;
}

.brand-card:hover img,
.category-card:hover img {
  transform: scale(1.02);
  filter: brightness(90%);
  box-shadow: 0 0 20px rgba(252, 252, 252, 0.9);
}

.morebtn {
  width: 120px;
  height: 40px;
  margin-top: 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.BrandsBottomSection {
  display: flex;
  justify-content: center;
}

/* CSS for Browsing Page */

.browsingPageTopSection {
  display: flex;
  justify-content: space-between;
  margin: 2rem 2rem;
  padding-bottom: 1rem;
  align-items: center;
}

.filterContainer {
  display: flex;
  align-items: center;
}

.filterContainer img {
  margin-right: 1rem;
}

.Product-cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  justify-content: space-around;
}

.product-card {
  text-align: center;
  width: 288px;
  height: 329px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.product-name {
  margin: 1rem;
}

.priceAndHeart {
  margin: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

/* CSS for Confirmation Page */

.confirmMainSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thanks {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 550px;
  height: 160px;
  margin: 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.confirmbtn {
  width: 300px;
  height: 55px;
  margin: 0.7rem;
  border-radius: 20px;
}

#confirmIcon {
  margin: 1rem;
}

/* CSS for Product Page */

.productTopSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.productTopSection img {
  cursor: pointer;
}

.ProductMainSection {
  height: 90vh;
  position: relative;
  flex-wrap: wrap;
}

.PRODUCT {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

.PRODUCT::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.productImage {
  margin-right: 1.7rem;
  flex: 0 0 auto;
}

.productLeftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 8%;
}

.productScroll {
  margin: 1rem;
}

.productRightSide {
  width: 500px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10%;
}

#Price {
  margin-top: 1rem;
}

#size-select {
  width: 500px;
  padding: 0.75rem;
  border: 1px solid black;
  margin-top: 2rem;
  margin-bottom: 2rem;
  appearance: none;
  background: white url("../Media/downArrowIcon.png") no-repeat right 1rem
    center;
  background-size: 12px;
}

.quantity {
  display: flex;
  border: 1px solid black;
  width: 100%;
  justify-content: space-between;
  padding: 0.7rem;
}

.quantity-btn {
  margin-left: 1rem;
}

.AddtoCart {
  margin-top: 2rem;
  width: 100%;
  padding: 0.75rem;
  border-radius: 30px;
}

.product-info-section {
  margin-top: 1rem;
  width: 100%;
  padding-top: 1rem;
}

details {
  margin-bottom: 1rem;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;
}

summary {
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 0;
  list-style: none;
}

details p {
  margin-top: 0.5rem;
}

.arrow-icon {
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease;
}

details[open] .arrow-icon {
  transform: rotate(180deg);
}

/* CSS for Payment Page */

.PaymentTopSection {
  display: flex;
  flex-direction: row-reverse;
  margin: 1rem;
}

.PaymentTopSection img {
  cursor: pointer;
}

.PaymentMainSection {
  display: flex;
  flex: 1;
  justify-content: space-around;
  padding-bottom: 2rem;
}

.ContactDetails,
.ShippingDetails,
.PaymentDetails {
  display: flex;
  flex-direction: column;
}

.paymentFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.pay-button {
  border-radius: 30px;
  width: 13vw;
  height: 5vh;
  border: none;
  cursor: pointer;
}

input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 6px 10px;
  border: 1px solid black;
}

.Contactsection,
.Shippingsection,
.Paymentsection {
  width: 350px;
}

.detailsTagPayment {
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 8px;
}

.summaryTagPayment {
  display: block;
  cursor: pointer;
  list-style: none;
  display: flex;
}

.payment-form {
  margin-top: 10px;
}

.payment-form input {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#creditcard,
#paypal {
  margin-right: 10px;
}

#applepay {
  margin-right: 7px;
}

#googlepay {
  margin-right: 5px;
}

/* CSS for Shooping Cart Page */

.cartFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.checkout-button {
  border-radius: 30px;
  width: 13vw;
  height: 5vh;
  border: none;
  cursor: pointer;
}

.CartTopSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.CartTopSection img {
  cursor: pointer;
}

.CartMainSection {
  display: flex;
  flex: 1;
  justify-content: space-around;
  padding-bottom: 2rem;
  margin-top: 1rem;
}
