@import url("https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
section {
  font-family: "Judson";
  font-weight: 400;
  font-style: normal;
}

header,
.homeFooter {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 4em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  text-align: center;
}

h3 {
  font-size: 1.2em;
}

.navbar a {
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 1rem;
}

/* CSS for Home Page */

.shopbtn,
.morebtn {
  font-size: 1em;
  font-weight: bold;
}

.categories p {
  font-size: 3.5em;
}

.brands p {
  font-size: 2em;
}

.brands h2 {
  font-size: 3em;
}

.logo {
  font-size: 2em;
}

/* CSS for Browsing Page */

.browsingPageTopSection p {
  font-size: 2em;
}

.product-price {
  font-size: 1.25rem;
}

/* CSS for Confirmation Page */

#confirmHeading,
#confirmID {
  text-align: center;
}

#confirmHeading {
  font-size: 2.2rem;
}

#confirmID {
  margin-top: 1rem;
  font-size: 1.3rem;
  color: grey;
}

.thanks {
  font-size: 2.2rem;
}

.confirmbtn {
  font-family: "Judson";
  font-size: 1.3rem;
}

/* CSS for Product Page */

#NAME {
  font-size: 1.8rem;
}

#size-select {
  font-size: 1rem;
  font-family: "Judson";
}

summary {
  font-size: 1rem;
  font-weight: normal;
}

.quantity-btn {
  font-size: 1rem;
}

.AddtoCart {
  font-weight: normal;
  font-size: 1em;
}

details p {
  font-size: 0.9rem;
}

/* CSS for Payment Page */

.paymentHeading {
  font-weight: normal;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.paymentFooter {
  font-family: "Judson";
}

.total h2 {
  text-align: left;
  font-weight: normal;
  font-size: 2rem;
}

.total p {
  font-size: 1.5em;
}

.pay-button {
  font-size: 1.5rem;
  font-family: "Judson";
}

input {
  font-style: italic;
  font-family: "Judson";
  font-size: 0.9rem;
}
